.sign-up-container {
    padding: 10rem 0;
    width: 100%;
    font-size: large;
    display: flex;
    align-items: center;
    flex-direction: column;
    .sign-up-form {
        width: 28rem;
        padding: 2rem;
        .ant-form-item {
            margin-bottom: 20px;
        }
        .terms-input-container {
            margin-bottom: 10px;
        }
    }
}

.input-container {
    width: 250px;
    float: right;
}